html, body, .grid, .column {
  min-height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: rgb(255, 212, 212);
}

a {
  color: black;
}

a:hover {
  color: gray;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
}

li {
  display: inline;
  padding: 5px;
}

.navBar {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: flex-start;
  margin: 0 100px 10px 100px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  padding: 15px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.header, .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content {
  background-color: rgb(195, 255, 235);
  width: 100%;
  height: 500px;
}

.portfolio {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  justify-content: center;
  align-items: center;
}

.portfolioItem {
  text-align: center;
  margin: 15px;
}

.contact {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.contactTitle {
  width: 50%;
  padding: 40px;
}

.contactItem {
  width: 50%;
  border-left: black 1px solid;
  padding: 40px;
}

.copyright {
  position: fixed;
  bottom: 5px;
}